/*フォント設定*/
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'inconsolata';
	src: url('../fonts/inconsolata/inconsolata/static/Ligconsolata-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--light-main-color: #fff;
	--light-accent-color: #95B0B4;
	--light-link-color: #06c755;
	--dark-main-color: 	#243447;
	--dark-sub-color: #1d2324;
	--dark-accent-color: #E6F4F1;
	--dark-link-color: #00ffb3;
	--radius-size: 7px;
	--main-font: 'inconsolata', cursive;
	--sub-font: 'Bebas Neue', sans-serif;
	--letter-space: 1px;
	--shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

body {
    background-color: var(--light-main-color);
	user-select: none;
}

h1 {
    font-size: 18px;
    margin: 5px;
    background-color: var(--light-accent-color);
    border-radius: var(--radius-size);
    padding: 15px;
    font-family: var(--main-font);
    color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
}

p{
    color: black;
}

label {
    color:black;
}

input {
   width: 250px;
   outline: none;
}


textarea {
  font-size: 8px;
  color:#666666;
  width: 100%;
  height: 70%;
  background-color: var(--light-main-color);
  outline: none;
  border: none;
}

#textField {
    text-align: center;
    padding:30px;
}

.Result{
	padding: 30px;
}

#Edit{
	padding: 30px;
	text-align: center;
}

#Option{
	padding: 30px;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
          background-color: var(--dark-main-color);
	      width: 100%;
    }
	label {
		color:white;
	}
	h1 {
		color:rgb(230, 230, 230);
		background-color: var(--dark-sub-color);
	}
	p{
		color: white;
	}
	textarea{
		background-color: var(--dark-main-color);
	}
}